/node_modules
/public_html/hot
/public
/public_html/storage
/storage/*.key
/storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public_html/uploads/business_logos
/public_html/uploads/documents
/public_html/uploads/img
/public_html/uploads/media
/public_html/uploads/invoice_logos
/public_html/uploads/UltimatePOS
/public_html/uploads/temp
.DS_Store
composer.lock

#Directadmin folder
/.htpasswd
/logs
/public_ftp
/stats
/private_html
